@model ContosoUniversity.ViewModels.IPagedList<ContosoUniversity.Models.Student>

@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<p>
    <a asp-controller="Student" asp-action="Create">Create New</a>
</p>

<form asp-controller="Student" asp-action="Index">
    <div class="row col-md-6">
        <div class="form-group">
            <label>Find by Name:</label>
            <div class="input-group">
                <input name="SearchString" class="form-control" id="SearchString" type="text" value="@ViewBag.SearchString">
                <span class="input-group-btn">
                    <input class="btn btn-info" type="submit" value="Search" />
                </span>
            </div>
        </div>
    </div>
</form>

@await Html.PartialAsync("_Students", Model)
